body{
    background-color: #fafcff;
}

#hero{
    margin-top: 100px;
   
   
}
#heero p{
    font-size: 20px;
    padding-top: 10px;
   font-family: 'Roboto', sans-serif;
    color: #000;
    text-align: center;

}


.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-registration input{
border-radius: 0;
margin-bottom: -1px;
}

.inner{
  overflow: hidden;
}

.inner img{
   transition: all 1s ease;
}

.inner:hover img{
  transform: scale(1.5);
}